# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\He Zhenyong\IdeaProjects\LightControl-dev-1a043d72c41491d66c7bd3da0aac79057b0ed5ae\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
